body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: skyblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overscroll-behavior: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#content { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

#sketchPadContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    padding: 2px 10px;
    height: 22px;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
}

button:hover {
    background-color: mediumblue;
    color: white;
}

button:disabled, button:disabled:hover {
    cursor: default;
    background-color: gray;
    color: black;
}

input {
    outline: none;
    padding: 4px 10px;
    border-radius: 5px;
    border: 0.5px solid gray;
    margin-right: 5px;
}